<footer class="layout__footer">
    <div class="footer__content">

        <div class="content__item">
            <figure>
                <img class="w-100" src="/logo-w.webp" alt="">
            </figure>
            <p class="c-white fz-16">Dentics is a well-known name in dental and oral care in New York. The journey of this institution started in 1990</p>
        </div>

        <div class="c-white content__item">
            <span class="fz-14">We are welcoming you</span>
            <span class="fz-28 fw-600">Want to visit our clinic?</span>
            <span class="fz-16">Saturday - Thrusday</span>
            <span class="fz-16">10 am- 9 pm</span>
        </div>

        <div class="c-white content__item">
            <span class="fz-16">Important link</span>
            <ul class="fz-16">
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
                <li>Career</li>
                <li>Support</li>
                <li>Privacy policy</li>
            </ul>
        </div>

        <div class="c-white content__item">
            <span class="fz-14">Say hello to us</span>
            <span class="fz-16"> {{mail}} </span>
            <span class="fz-14">Address <span class="fz-16">123 Anywhere St., Any City, NY 39200</span></span>
        </div>

    </div>
    <div class="footer__copy">
        <span class="c-white fz-16 fw-400">© 2001-2022, All Rights Reserved</span>
    </div>
</footer>
