<div class="layout__hBanner">
    <header>
        <h1 class="fz-h1">We Provide High Quality <span class="c-yellow">Dental</span> Services</h1>
        <p class="fz-20 c-Gray2">Appropriately embrace transparent materials via turnkey niche markets. </p>
        <div>
            <app-button
            label="Get Started"
            href="#"
            variant="primary"
            />
            <app-button
            label="Learn More"
            href="#"
            variant="secondary"
            />
        </div>
    </header>

    <figure>
        <img class="w-100" src="/img-banner.webp" alt="">
    </figure>
</div>