<section class="layout__always">
    
    <div class="always__a">
        <div class="a__header">
            <h5 class="fz-48">Always <span class="c-yellow">Lough</span> <br>Whenever Its Possible</h5>
        </div>
        <figure>
            <img class="w-100" src="/port-allways.webp" alt="">
        </figure>
    </div>

    <div class="always__b">
        <p class="fz-20 c-Gray2">We also offer treatments that improve the appearance of your smile giving you the confidence boost you deserve. The process or our treatment below.</p>
        <div>
            <span class="fz-24 fw-500 ff-Iner c-black-t">WHAT WE PROVIDE</span>
            <ul>
                <li class="fz-22" *ngFor="let item of itemsList"><span><img src="/icon-2.webp" alt=""></span> {{item.text}} </li>
            </ul>
        </div>
    </div>
</section>