<section class="layout__keyFeature">
    
    <header class="keyFeature__header">
        <h3 class="fz-48">What Makes Us More <br class="keyFeature__headerBr" /> <span class="fw-700 fz-60">Special</span></h3>
        <h4 class="fz-56">KEY <span>FEATURE</span></h4>
        <span></span>
    </header>
    <div class="keyFeature__container">
        <div *ngFor="let item of keyItems">
            <figure>
                <img class="w-100" [src]="item.img" alt="">
            </figure>
            <h5 class="fz-24 c-black-t"> {{item.title}} </h5>
            <p class="c-Gray2 fz-16"> {{item.text}} </p>
        </div>
    </div>
</section>