<section class="layout__yourSmile">
    <div class="yourSmile__content">
        <h5 class="fz-36 c-white fw-400">Let Us Brighten <span class="fz-42 fw-500">Your Smile!</span></h5>
        <p class="c-white fz-18">Helping patients achieve good dental health & beautiful smile is a privilege & responsibility. For over 30 years, we proudly provided the best dental experience in New York. Our comfort-first approach is designed to meet the needs of you & your entire family.</p>
        <a class="fz-20 c-white" href="#">Make An Appinment</a>
    </div>
</section>
